@import 'normalize.css';

:root {
  --primary: rgb(77, 72, 233);
  --black: #000;
  --text-color: #11006f;
  --blue: rgb(0, 68, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

a[href] {
  text-decoration: none;
}
