.wrapper {
    width: 100%;
    display: flex;
    padding-top: 100px;
    margin-bottom: 100px;
    align-items: center;
}
.content {
    height: 100%;
    width: 1476px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    img {
        width: 30px;
        height: 30px;
    }

    h1 {
        color: var(--primary);
        font-family: 'SVN-Gilroy-Bold', sans-serif;
        font-size: 30px;
    }
}

.title-block {
    text-align: center;
    margin-bottom: 15px;
    font-family: 'SVN-Gilroy', sans-serif;
    font-size: 15px;
    color: #fcaf17;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    img {
        width: 1300px;
        height: 388px;
    }
}

.images-container {
    display: flex;
    align-items: flex-start;
}

.images-produce {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;

    .produce-item {
        width: 220px;
        height: 380px;
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 220px;
            height: 300px;
            margin: 0 10px;
        }

        a {
            margin-top: 10px;
            text-align: center;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        h3 {
            margin: 0 5px;
            text-align: center;
            color: var(--black);
            font-family: 'SVN-Gilroy', sans-serif;
            font-size: 16px;
            height: 50px;
        }
    }
}
.price-container {
    margin-top: 20px;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 30px;
}

.discounted-price {
    color: var(--price-color);
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'SVN-Gilroy-Bold', sans-serif;
    font-size: 16px;
}

.original-price {
    color: var(--original-price);
    text-decoration: line-through;
    font-family: 'SVN-Gilroy', sans-serif;
    font-size: 14px;
}
