// $primary-color: #ffa726; // Light orange
// $secondary-color: #fb8c00; // Darker orange
$background-color: #fafcd3;
// var(--white): #ffffff;
// var(--placeholder-color): #ccc;
// var(--text-color): #333;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$transition-time: 0.3s;

// $google-color: #db4437;
// $facebook-color: #3b5998;

// Mixin for a smooth transition
@mixin transition($property) {
    transition: $property $transition-time ease-in-out;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Use min-height instead of height */
    background-color: var(--background-login);
    padding: 20px; /* Add padding to give space around the form */
}

.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background: var(--white);
    box-shadow: $box-shadow;
    border-radius: 10px;
    position: sticky;
    top: 20px; /* Adjust the distance from the top as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background: var(--white);
    box-shadow: $box-shadow;
    border-radius: 10px;
    //width: 100%;
    //max-width: 400px;
    height: auto; /* Set height to auto */
    overflow-y: auto;
    z-index: 1; /* Ensure the form appears above other content */
    width: 100%;
    max-width: 600px;
    margin-top: 130px;
}

.title {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: var(--text-color);
    font-family: 'SVN-Gilroy', sans-serif;
}

.form {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--text-color);
    font-family: 'SVN-Gilroy', sans-serif;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--placeholder-color);
    border-radius: 5px;
    font-size: 1rem;
    @include transition(border-color);

    &:focus {
        border-color: var(--login-btn);
        outline: none;
    }
}

.button {
    width: 100%;
    padding: 12px;
    background-color: var(--login-btn);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: 'SVN-Gilroy', sans-serif;
    cursor: pointer;
    font-weight: bold;
    @include transition(background-color);

    &:hover {
        background-color: var(--login-btn-hover);
    }
}

.signin-prompt {
    margin-top: 20px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--text-color);
    font-family: 'SVN-Gilroy', sans-serif;

    .signin-link {
        color: var(--login-btn);
        text-decoration: none;
        font-weight: bold;
        @include transition(color);

        &:hover {
            color: var(--login-btn-hover);
        }
    }
}
