.wrapper {
    width: 100%;
    display: flex;
}

.content {
    height: 100%;
    width: 1476px;
    display: flex;
    flex-direction: column;
}

.slide {
    position: relative;
    padding-top: 100px;
    img {
        width: 100%;
        height: 388px;
    }
}

.control {
    position: absolute;
    top: 60%;
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding: 0 10px;
    transform: translateY(-50%);

    button {
        font-size: 30px;
        right: 10px;
        border: none;
        background: none;
        cursor: pointer;
    }
}
.menu-list {
}
.produce-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.sale {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 100px;

    h1 {
        color: var(--text-color);
        margin-bottom: 30px;
    }
}

.images-container {
    display: flex;
    align-items: flex-start;
}

.images-produce {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 10px;

    img {
        width: 220px;
        height: 300px;
        margin: 0 10px;
    }
    a {
        margin-top: 10px;
        text-align: center;
        text-decoration: none;
        color: var(--black);

        &:hover {
            text-decoration: underline;
        }
    }
}

.discounted-price {
    margin-top: 5px;
    color: var(--price-color);
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'SVN-Gilroy Bold', sans-serif;
}

.original-price {
    color: var(--original-price);
    text-decoration: line-through;
}

.title-sale {
    margin-right: 50px;
    img {
        width: 190px;
        height: 416px;
    }
}
